
body {
    color: black;
}
/*
.btn-primary {
    background-color: #6558F5;
    color: white;
    border: #6558F5;
}

.btn-primary:hover {
    background-color: #5c4fe3;
    color: white;
    border: #5c4fe3;
}
*/
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid gray;
}  

.flex-child:first-child {
    
} 

.flex-child:last-child {
    
}